@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  margin: 0px;
  padding: 0px 100px;
  font-family: 'Exo\2', sans-serif !important;
  background-color: black !important;
  color: white !important;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  color: #ffffff;
}
.navbarLogo {
  width: 100px;
}
.navbar > ul {
  list-style-type: none;
  display: flex;
}

.navbar > ul > li {
  padding-left: 25px;
  font-size: 17px;
  text-decoration: none;
}

.navbar > ul > li:hover {
  font-weight: bold;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  max-width: 100%;
  display: block;
  margin: 10px;
  /* border: 1px solid white !important; */
  border-radius: 0px !important;
  padding: 10px;
  background-color: black !important;
  color: #ffffff;
}

.card > img {
    max-width: 100%; 
    display: block; 
    height: auto;
  margin: 0px auto;
}

h3,
h5,
h6 {
  line-height: 1;
}
 
a {
    text-decoration: none !important;
    color: #FFFFFF !important;
}

.restaurantCard > h3 {
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.restaurantCard > h5 {
    font-size: 13px;
}

.restaurantCard > h6 {
    font-size: 12px;
}

.searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 0px !important;
  padding: 3px;
}

.searchBtn {
  border-radius: 0px !important;
  margin-left: 10px;
  width: 150px;
}
.shimmerEffect {
    display: flex;
    flex-wrap: wrap;
}
.card-shimmer {
  position: relative;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0px;
  /* height: 500px; */
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}
  .shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #e5f0fb;
    background: linear-gradient(to right, #c1dceb 4%, #a3cbe1 25%, #c1dceb 36%);
    background-size: 1200px 100%;
  }

  @-webkit-keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -1200px 0;
    }
    100% {
      background-position: 1200px 0;
    }
  }

  .media {
    height: 150px;
  }

  .p-32 {
    padding: 0px;
    margin-top: 8px;
  }

  .title-line {
    height: 24px;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 20px;
  }

  .content-line {
    height: 8px;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 8px;
  }

  .end {
    width: 40%;
  }


.m-t-24 {
  margin-top: 12px;
}

.noResFound {
    color: red;
    text-align: center;
    font-size: 22px;
}

.menuCard {
  border-bottom: 1px solid lightgray;
}